# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
pubspec.lock

# Android
/android/.gradle/*
android/build/
.gradle/
.idea/

# iOS (if added later)
ios/Pods/
ios/build/
ios/.symlinks/
